.flexiMain {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.funSideBar {
 background: green;
 color:whitesmoke;
 height: fit-content
}

.exampleSide {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}

.con {
    display: flex;
    width: 42vh;
    justify-content: center;
    flex-direction: column;
    background: yellow;
}
.boSlider {
    display: flex;
    flex-direction: column;
}

.textBox {
    display: flex;
    text-align: center;
    margin: auto;
    width: 20vh;
    flex-direction: column;
}


.topSlider p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topSlider p button {
    width: 60%;
    text-align: center;

}
