main {
  display: flex;
  flex-direction: row;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(92, 92, 92);
  color: white;
  border-radius: 25px;
}

.specific {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  height: 10rem;
  padding: 1.5rem 5rem;
}

.common {
  text-align: center;
  font-size: 2rem;
  padding: 0 5rem;
}

.vanilla {
  width: 100%;
  text-align: center;
}
.jquery {
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
}

input[type="text"] {
  width: 50%;
}
