main {
  display: flex;
  flex-direction: row;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.specific {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  height: 10rem;
}

.common {
  text-align: center;
}

.vanilla {
  width: 25%;
  text-align: center;
  background-color: grey;
}
.jquery {
  width: 25%;
  text-align: center;
  background-color: grey;
}

img {
  width: 100%;
}
