.modal {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #213f5de0;
  height: 100vh;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 50rem;
  min-height: 20rem;
  margin: auto;
  padding: 1rem;
  width: 30rem;
  max-height: 25rem;
  background-color: seashell;
  text-align: center;
  border-radius: 0.3125rem;
  line-height: 3em;
}

.--is-visible {
  display: flex;
}
