p {
    color: rgb(50, 50, 214);
    font-size: 20px;
}
.titleClass {
    color: rgba(245, 245, 245, 0.925);
    background-color: rgb(109, 28, 28);
}

.activeBtn {
    background-color: rgb(144, 163, 36);
    outline: none;
    border: none;
}

#myDiv button {
    width: 150px;
    height: 50px;
    background-color: rgb(86, 3, 163);
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px;
    outline: none;
    border: none;
}

#myDiv button:disabled {
    background-color: rgb(94, 94, 95);
}

a {
    font-size: 20px;
}

a:hover {
    background-color: rgb(163, 241, 7);
}

a:visited {
    color: royalblue;
}

#myDiv .square {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 217, 0);
}

#myDiv .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aqua;
    text-align: center;
    margin: auto;
}

input {
    height: 30px;
    width: 150px;
    border-style: none;
    margin: 10px;
    font-size: 20px;
}

form {
    font-size: 20px;
}

#myDiv ul {
    list-style: none;
    font-size: 20px;
    color: rgb(8, 179, 122);
    background-color: antiquewhite;
}

#myDiv span {
    color: rgb(221, 63, 97);
}


/* .fadeClass {
   animation: fadeIn 2s;
} */



@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}