/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap");

/* LAYOUT */
@import url(header.css);
@import url(main.css);
@import url(header.css);
@import url(nav.css);

:root {
  font-family: "Padauk", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0;
}
p {
  font-size: 1.5rem;
  word-break: break-all;
}

h1 {
  color: white;
  background-color: rgb(0, 0, 0);
  width: 100%;
  font-size: 4rem;
  border-radius: 25px;
}

h3 {
  font-size: 3rem;
}

.wrapper {
  margin: auto;
  width: 90%;
}

/* FOR EXERCISE*/
.new-class {
  color: rgb(75, 169, 224);
}
