/*:root*/
:root {
  --color-primary: #E45B5B;
  --color-secondary: #E678DC;
  --color-tertiary: #40D26F;

  --color-white: #fff;
  --color-grey-light: #f7f7f7;
  --color-grey: #777;
  --color-grey-dark: #333;
  --color-black: #000;
}
