/*:root*/
:root {
  --color-primary: #d83f87;
  --color-secondary: #2a1b3d;
  --color-secondary-light: #6a439cb0;
  --color-tertiary: #44318d;

  --color-white: #fff;
  --color-grey: #a4b3b6;
  --color-grey-dark: #333;
  --color-black: #000;
}
