p {
    color: rgb(50, 50, 214);
    font-size: 20px;
}
.titleClass {
    color: rgba(245, 245, 245, 0.925);
    background-color: rgb(109, 28, 28);
}

#myDiv button {
    width: 150px;
    height: 50px;
    background-color: rgb(86, 3, 163);
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 2px;
}

#myDiv button:disabled {
    background-color: rgb(94, 94, 95);
}

a {
    font-size: 20px;
}

a:hover {
    background-color: rgb(163, 241, 7);
}

a:visited {
    color: royalblue;
}


#myDiv .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aqua;
    text-align: center;
    margin: auto;
}

input {
    height: 30px;
    width: 150px;
    border-style: none;
    margin: 10px;
}