* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  /*outline: 2px solid red;*/
}

body {
  display: flex;
  background-color: rgb(16, 16, 16);
  flex-direction: column;
  opacity: 0;
}

main {
  display: flex;
}

p {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 800;
  color: white;
  margin-top: 2%;
  margin-left: 3%;
  font-family: "Montserrat Alternates", sans-serif;
}

h2 {
  font-weight: 800;
  color: white;
  margin-left: 4%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 4%;
}

h3 {
  color: black;
  font-size: 30px;
}

#closeButton {
  margin-bottom: 20px;
  margin-left: 100%;
  cursor: pointer;
  color: white;
  border-radius: 100px;
  text-align: center;
}

label {
  color: white;
  font-weight: 400;
  margin-right: 10px;
  font-family: "Montserrat Alternates", sans-serif;
}

button {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

a {
  background-color: rgb(0, 94, 255);
}

#headerContent {
  display: flex;
  width: 100%;
  align-items: center;
}

#searchEngine {
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 1%;
  display: flex;
  align-items: flex-end;
  width: 29%;
}

/*flex grow*/

#searchInput {
  background-color: #101010;
  height: 30px;
  width: 100%;
  color: rgb(0, 94, 255);
  font-size: 17px;
  margin-right: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  border-bottom: 2px solid white;
}

input:active,
input:focus,
button:focus,
button:active {
  outline: none;
}

#closeButton img {
  transition: all 0.2s ease-in-out;
}
#closeButton img:hover {
  transform: scale(1.2);
}

#jsButton img {
  transition: all 0.2s ease-in-out;
}

#jsButton img:hover {
  transform: scale(1.2);
  margin-right: 20px;
}

#jqButton img {
  transition: all 0.2s ease-in-out;
}

#jqButton img:hover {
  transform: scale(1.2);
  margin-right: 20px;
}


#rightModalContent img{
  max-width: 100%;
  max-height: 100%;
}

#listFunctions {
  height: 510px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#eventFunctions {
  height: 510px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#selectFunctions {
  height: 510px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.listContainer {
  width: 33%;
  padding: 2% 2% 0% 2%;
}


ul {
  padding: 0% 4% 4% 4%;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
  border-radius: 10px;
}

.listContainer li {
  color: white;
  margin-top: 3%;
  list-style: none;
  padding: 4%;
  font-size: 17px;
  font-weight: 400;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: rgb(0, 94, 255);
}

.listContainer li:hover {
  transform: scale(1.05);
  font-weight: 800;
  box-shadow: 0 0 0pt 02pt rgb(255, 255, 255);
  border-radius: 3px;
}

#modalWrapper {
  display: flex;
  margin-top: 5%;
}

/*#modalTitle{
  display: flex;
  justify-content: space-between;
}*/

#modal {
  background-color: white;
  width: 70%;
  position: absolute;
  top: 12.5%;
  left: 15%;
  color: black;
  z-index: 100;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.249);
  border-radius: 10px;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 1.5% 3% 3% 3%;
}

#leftModalContent {
  width: 50%;
  color: black;
}

#rightModalContent {
  width: 50%;
  background-color: rgb(245, 245, 245);
  margin: 10px;
  word-wrap: break-word;
  height: 300px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

#buttonContainer button {
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  background-color: rgb(0, 94, 255);
  color: white;
  cursor: pointer;
  margin-left: 89%;
  transition: all 0.2s ease-in-out;
}

#buttonContainer button:hover {
  transform: scale(1.05);
}

.collapsible {
  background-color: rgb(237, 237, 237);
  color: black;
  cursor: pointer;
  padding: 18px;
  margin-top: 10px;
  width: 100%;
  border: none;
  justify-content: flex-start;
  text-align: left;
  outline: none;
  display: flex;
  font-size: 15px;
}

.collapsible p {
  margin-left: 20px;
  margin-top: 10px;
}

.active,
.collapsible:hover {
  background-color: rgb(0, 94, 255);
  color: white;
}

.active,
.collapsible:active {
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.content {
  padding: 18px;
  display: none;
  font-weight: bold;
  overflow: hidden;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(237, 237, 237);
  color:  rgb(16, 16, 16);
  
  border-radius: 0px 0px 10px 10px;
}

#runID {
    align-items: center;
    display: flex;
    font-weight: bold;
    padding: 10%;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}

#runID a{
  list-style: none;
  background-color:rgb(245, 245, 245);
}

#runID input{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

code {
  font-size: 15px;
}

select {
  font-size: 20px;
  padding: 1%;
  width: 50%;
  font-weight: bold;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#resultFunction {
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.10);;
}

.newClass {
  color: rgb(0, 94, 255);
}

#runID button {
  padding: 20px 40px 20px 40px;
  box-shadow: 0px 0px 15px 1px rgb(0 0 0 / 10%);
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

#runID button:hover:enabled {
  background-color: rgb(0, 94, 255);
  color: white;
}

.generated {
  list-style: circle;
  background-color: rgb(245, 245, 245);
  color: black;
}