/* CSS - Vars */

:root {
    --background-div: rgb(0, 0, 0);
    --background-text: rgb(28, 160, 41);
    --background-buttons: rgb(255, 255, 255);
    --font: 'Zen Dots', cursive;
}


/* CSS - Root */

* {
    /* border: 1px solid rgb(255, 255, 255); */
    font-family: var(--font);
    color: rgb(253, 253, 253);
    font-size: small;
    text-align: center;
    /* cursor: url("Assets/gun-target.png") 32 32, auto; */
}

p:hover,
h1:hover,
li:hover {
    background-color: yellowgreen;
}


/* CSS - Body */

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    /* Background-gradient */
    background: linear-gradient(134deg, #d21717, #ffaa00, #e1e870, #0fa114, #0006ff, #6519bf, #bb12bd);
    background-size: 1400% 1400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 20%
    }
    50% {
        background-position: 100% 81%
    }
    100% {
        background-position: 0% 20%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 20%
    }
    50% {
        background-position: 100% 81%
    }
    100% {
        background-position: 0% 20%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 20%
    }
    50% {
        background-position: 100% 81%
    }
    100% {
        background-position: 0% 20%
    }
    /* Background-gradient */
}


/* CSS - Div - Header */

.main-header-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background-div); */
    background-size: cover;
    width: 10%;
    height: 70%;
    margin-left: 4%;
    margin-right: 2%;
    /* border: 2px solid var(--background-buttons);
    border-radius: 10px; */
}

.main-header-class h1 {
    display: flex;
    font-size: xx-large;
}


/* CSS - Div - Left */

.all-container-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-div);
    background-size: cover;
    width: 30%;
    height: 70%;
    margin-left: 4%;
    margin-right: 2%;
    border: 2px solid var(--background-buttons);
    border-radius: 10px;
}


/* CSS - Div - Right */

.container-right-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-div);
    width: 30%;
    height: 70%;
    margin-left: 2%;
    margin-right: 4%;
    border: 2px solid var(--background-buttons);
    border-radius: 10px;
}

.jquery-to-jsVanilla-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-div);
    width: 70%;
    height: 70%;
    border: 2px solid var(--background-buttons);
    border-radius: 10px;
}