/* CSS - Vars */

:root {
    --background-div: rgba(0, 0, 0, 0.5);
    --background-text: rgba(32, 24, 98);
    --background-buttons: rgb(255, 255, 255);
    --font: 'VT323', monospace;
}


/* CSS - Root */

* {
    border: 1px solid rgb(255, 255, 255);
    font-family: var(--font);
    color: rgb(255, 255, 255);
    font-size: small;
    text-align: center;
    cursor: url("Assets/gun-target.png") 32 32, auto;
}


/* CSS - Body */

body {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}


/* CSS - Div - Header */

.main-header-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-div);
    background-size: cover;
    width: 10%;
    height: 70%;
    margin-left: 4%;
    margin-right: 2%;
    border: 10px solid var(--background-buttons);
    border-radius: 40px;
}

.main-header-class h1 {
    font-size: xx-large;
}


/* CSS - Div - Left */

.all-container-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-div);
    background-size: cover;
    width: 30%;
    height: 70%;
    margin-left: 4%;
    margin-right: 2%;
    border: 10px solid var(--background-buttons);
    border-radius: 40px;
}


/* CSS - Div - Right */

.container-right-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-div);
    width: 30%;
    height: 70%;
    margin-left: 2%;
    margin-right: 4%;
    border: 10px solid var(--background-buttons);
    border-radius: 40px;
}

.jquery-to-jsVanilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-div);
    width: 70%;
    height: 70%;
    margin-top: 30%;
    margin-left: 2%;
    margin-right: 4%;
    border: 10px solid var(--background-buttons);
    border-radius: 40px;
}