@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --red: rgb(218, 49, 49);
  --grey: rgb(150, 150, 150);
  --light-black: rgb(27, 27, 27);
  --color1: rgb(120, 212, 212);
  --color2: rgb(233, 124, 233);
  --color3: rgb(109, 192, 127);
}

body {
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  background-color: var(--black);
}

main {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

ul {
  margin-bottom: 3rem;
  width: fit-content;
}

li {
  font-size: 1.2rem;
  list-style: none;
  margin-left: 4rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

li:hover {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--light-black);
}

h1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 3rem;
  margin-left: 5rem;
}

h2 {
  text-align: center;
  margin: 3rem 3rem;
}

footer {
  grid-area: 3 / 1 / span 1 / span 3;
  color: var(--grey);
  font-size: 1rem;
  letter-spacing: 0.5rem;
  text-align: center;
  align-self: center;
  padding: 1rem;
}

i {
    color: var(--black);
}

.header-container {
  grid-area: 1 / 1 / span 1 / span 3;
  background-color: var(--black);
}

.header-container--inner {
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
  color: var(--grey);
  padding: 1rem;
}

.logo {
  font-size: 3rem;
  margin-left: 1.3rem;
}

.logo-info {
  font-size: 1rem;
  margin-left: 1.3rem;
}

.functions-container {
  background-color: var(--color1);
}

.selectors-container {
  background-color: var(--color2);
}

.events-container {
  background-color: var(--color3);
}

/* MODAL */

/* MODAL (BACKGROUND */
.modal-main--container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: auto; /* Sit on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6);
}

/* MODAL CONTENT/BOX */
.modal-content {
  background-color: var(--white);
  margin: 12% auto; /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid var(--black);
  width: 70rem; /* Could be more or less, depending on screen size */
  height: 40rem;
}

/* CLOSE BUTTON */
.modal-close {
  color: var(--grey);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  color: var(--red);

}
