.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-family: secondChanceS;
  letter-spacing: var(--global--letter-spacing--l);
}

.content__home-header,
.content__footer {
  width: 90%;
  padding: var(--global--spacer--sm) var(--global--spacer--md);
}

.content__page-header {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  padding: var(--global--spacer--sm) var(--global--spacer--md);
}

.page-header__title {

  font-family: 'secondChanceS';
  font-size: var(--global--h4--title--FontSize);
  color: var(--global--primary--jquery--Color);
  letter-spacing: var(--global--letter-spacing--s);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.page-header__autocomplete {
  width: 100%;
  --autocomplete--PaddingTopBottom: var(--global--spacer--sm);
  --autocomplete--PaddingRightLeft: var(--global--spacer--md);
  padding: var(--autocomplete--PaddingTopBottom) var(--autocomplete--PaddingRightLeft);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}

.page-header--noHeight {
  line-height: 0%;
}

.page-header__autocomplete__button {
  line-height: inherit;
  font-size: var(--global--h5--title--FontSize);
}