.content__home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: nowrap;
}

.home-main__title {
  --global--main-title--height: var(--global--lg--LineHeight);

  line-height: var(--global--main-title--height);
  font-family: 'secondChanceS';
  font-size: var(--global--main--title--FontSize);
  color: var(--global--primary--jquery--Color);
  letter-spacing: var(--global--letter-spacing--s);
}

.home-main__autocomplete {
  --autocomplete--PaddingTopBottom: var(--global--spacer--sm);
  --autocomplete--PaddingRightLeft: var(--global--spacer--md);

  padding: var(--autocomplete--PaddingTopBottom) var(--autocomplete--PaddingRightLeft);
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  align-items: stretch;
}

.autocomplete__button {
  font-family: secondChanceS;
  line-height: var(--global--lg--LineHeight);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/assets/img/chalkMarkButton.png);
}

.autocomplete__input {
  line-height: var(--global--lg--LineHeight);
  border-radius: var(--global--border-radius--1);
  width: 40%;
  padding: 0 var(--global--spacer--md);
  font-size: var(--global--h6--title--FontSize);
}

.autocomplete__input:focus-visible {
  outline-color: var(--global--primary--jquery--Color);
  outline-offset: 0.2rem;

}

.autocomplete__side-logo {
  width: 100%;
}

.home-main__js-logo {
  background-color: var(--global--primary--js--Color);
  width: 8.2%;
  border-radius: var(--global--border-radius--1);
  height: 100%;
}

.home-main__jquery-logo {
  background-color: var(--global--primary--jquery--Color);
  width: 8.2%;
  border-radius: var(--global--border-radius--1);
  height: 100%;
}

.home-main__js-title {
  font-family: "Neutraface Text Bold";
  font-size: var(--global--h4--title--FontSize);
  text-align: right;
  padding-top: var(--global--spacer--md);
  padding-right: var(--global--spacer--xs);
}

.home-main__logo-chalk {
  background-image: url(/assets/img/chalkMarkButton.png);
  background-repeat: no-repeat;
  background-size: 300%;
  background-position-x: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;

}

.home-margin--margin-right{
  margin-right: var(--global--spacer--sm);
}