.content__page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: var(--global--spacer--sm) var(--global--spacer--md);
}

.page-main__text-content{
  display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}