.sidebar{
  background:url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
  width: calc((var(--global--width--viewport) - var(--global--width--from--viewport))/1.618);
  height: inherit;
  color: whitesmoke
}

.sidebar__drop-on{
  height: inherit;

}