body {
    min-height: 40vh;
    min-width: 40vw;
    max-width: 70vw;
    max-height: 70vh;
}

code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 0.9em;
    color: #555;
}

.display-flex {
    display: flex;
}

.title>h1 {
    direction: rtl;
}

.main-btn {
    border: white 1px solid;
    background-color: #00bcd4;
    color: #fff;
    padding: 2px;
    margin: 1px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
}

.main-btn:hover {
    border: black 1px solid;
    background-color: red;
    color: #fff;
}

.nav-btn {
    margin-left: 0;
    border: none;
    height: 2rem;
    width: 8.5rem;
    background-color: #00b0ff;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.nav-btn:hover {
    background-color: red;
    color: #fff;
}

#nav-bar {
    overflow: scroll;
    height: 30vh;
}