.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,.8);
  transition: all .35s ease-in;
}

.--is-visible {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: relative;
  padding: 1rem;
  min-width: 70%;
  overflow: auto;
  background-color: var(--color-white);
  color: var(--color-grey-dark);
  border-radius: 5px;
  box-shadow: 3px 3px 15px 0px rgb(41 50 63 / 75%);
}

@media all and (max-width: 480px) {
  .modal__content {
    width: 100%;
    height: 100%;
  }
}

[data-animation="zoomInOut"] .modal__content {
  opacity: 0;
  transition: all .5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transform: scale(0.2);
}

[data-animation="zoomInOut"].--is-visible .modal__content {
  opacity: 1;
  animation: scale(0.0) 2s .2s linear forwards;
  transform: none;
}
