* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: black 1px solid; */
  font-family: "Dosis", sans-serif;
}
#header {
  height: 10vh;
  padding: 50px;
  font-size: 30px;
  background-color: #daded4;
  text-decoration: overline;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1%;
  height: 80vh;
  width: 100%;
  padding: 10px;
  background-color: #daded4;
}
#footer {
  height: 10vh;
  width: 100%;
  background-color: #daded4;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  height: 10%;
  padding: 20px;
}
h3 {
  text-decoration: underline;
}
#events {
  height: 100%;
  width: 100%;
  min-width: 200px;
  background-color: #fe9000;

  overflow: hidden;
  order: 1;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#eventContent {
  height: 100%;
  width: 100%;
  background-color: #fe9000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#functions {
  height: 100%;
  width: 100%;
  min-width: 300px;
  background-color: #a40606;

  overflow: hidden;
  border-radius: 30px;
  order: 2;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#functionContent {
  height: 100%;
  width: 100%;
  background-color: #a40606;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.contentOne,
.contentTwo {
  justify-content: right;
  padding: 20px;
}
li {
  padding: 2%;
  margin: 10px;
}
.allContentTitles {
  cursor: pointer;
  font-weight: bold;
  color: white;
}
.allContentTitles:hover {
  color: black;
}
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 600; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
.modal-content {
  display: flex;
  overflow: hidden;
  background-color: #daded4;
  margin: auto;
  border-radius: 5%;
  min-width: 300px;
  height: 60%;
  width: 50%;
  box-shadow: black 0px 20px 30px -10px;
  box-sizing: border-box;
  padding: 20px;
}
.jsSide,
.jqSide {
  flex-grow: 1;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
.jsSide {
  color: #4f646f;
}
.jqSide {
  color: #5b7b7a;
}
.example,
.result {
  height: 40%;
  padding: 50px;
}
.tryBtn {
  width: 25%;
  height: 10%;
  border-radius: 20px;
  font-size: 20px;
  outline: none;
}
.tryBtn:hover {
  background-color: darkgrey;
  color: white;
}
.closeModal {
  font-size: 30px;
  cursor: pointer;
}
