section.reference{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;


}
ul{
    list-style: none;
}

h2{
    display: flex;
    justify-content: left;
}

h1{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 80%;
}

.backgound{
    position: absolute;
    z-index: 0.5;
    width: 100%;
    height: 100%;
    
    top:0%;
    left:0%;
    background-color: rgba(37, 39, 37, 0.8);
}
.showComandContent{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    position: absolute;
    top: 0%;
    color:white;
    width: 70%;
    height: 70%;
    top:15%;
    left: 15%;
    z-index: 1;
    pointer-events: none;
}h2.title{
    grid-column: 1/4;
}
div.vanillaBox{
    grid-column: 1/3;
}
div.jQueryBox{
    grid-column: 1/3;
}
code.jQueryText{
    
    font-size: 16px;
}
p.result{
  font-size: 50px;
  grid-column: 1/3;
  justify-self: center;
    align-self: center;

}
button.ejempleButJq{
    height: 40%;
    justify-self: center;
    align-self: center;
}
button.ejempleButVani{
    height: 40%;
    justify-self: center;
    align-self: center;
}
button.run{
    height: 40%;
    justify-self: center;
    align-self: center;
}

code.vanillaText{
    grid-column: 1/3;
    font-size: 16px;
}

li.specificEvent{
    max-width: 70%;
    background: linear-gradient(5deg,rgb(103, 182, 228),rgb(255,255,255) );
    margin-bottom: 10px;
    border-radius: 5px;
    min-height: 50px;
}
li.specificSelector{
    max-width: 70%;
    background: linear-gradient(5deg,rgb(228, 184, 103),rgb(255,255,255) );
    margin-bottom: 10px;
    border-radius: 5px;
    min-height: 50px;
}
ul.selectors{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
