@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/*============================
  General styles
============================*/

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
  }


/*============================
  Main containers 
===========================*/

/* Side Bar */
#topicList{
  display: flex;
  flex-direction: column;
}

.topicListItem{
  display: flex;
}

/* Event container*/
#eventDivContainer{
  display: block;
}

#eventTopicList{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* Functions and Selectors container*/
#funSelDivContainer{
  display: block;
}

/* List and list items*/
.listItem{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.codeContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.js,
.jquery,
.output{
  display: flex;
  flex-grow: 0.3;
  justify-content: space-around;
  flex-direction: column;
  
}

.topicCodeTitle{
  flex-grow: 0.15;
  text-align: center;
}
.code{
  flex-grow: 0.90;
  padding: 5px;
  white-space: pre-wrap;
  /*text-align: center;*/
}

.outputCode{
  flex-grow: 0.85;
  white-space: pre-wrap;
}

.fsClass{
  font-size: 20px;
  font-weight: bold;
  color:black;
}

#testArea{
  display:flex;
  height: 100px;
}

#footer{
  margin-top: 15px;
}