/**
 * MODULE - BUTTONS
 */

button {
    min-width: 4.5rem;
    min-height: 2rem;
    margin: 0.8rem;
    background: #3498db;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff; 
    text-decoration: none;
}

button:hover {
    background: #3cb0fd;
    text-decoration: none;
}