.header {
    width: 100%;
    background-color: rgb(179, 226, 131);
    padding: 1rem;
}

.header__title {
    text-align: center;
    font-size: 1.5rem;
    color: #424242;
    opacity: 0.9;
    font-style: italic;
}

.header__title span {
    color: #F4511E;
    opacity: 0.8;
}

.header__logo span {
    color: rgb(84, 67, 107);
    opacity: 0.8;
}