/**
 * MODULE IMAGES
 */

.section__events-img,
.section__functions-img,
.section__selectors-img {
    width: 3rem;
    height: 3rem;
}

.header__title-img {
    width: 4rem;
    height: 4rem;
}

.section__events-img:hover,
.section__functions-img:hover,
.section__selectors-img:hover,
.header__title-img:hover {
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
}