/**
 * MODULE SUN
 */

 .fa-sun {
    animation: fall 10s linear forwards;
    color: rgb(247, 234, 0);
    position: absolute;
    top: -20px;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

@media (max-width: 1674px) {
    @keyframes fall {
        to {
            transform: translateY(110vh);
        }
    }
} 

@media (max-width: 1484px) {
    @keyframes fall {
        to {
            transform: translateY(120vh);
        }
    }
}

@media (max-width: 1200px) {
    @keyframes fall {
        to {
            transform: translateY(130vh);
        }
    }
}

@media (max-width: 992px) {
    @keyframes fall {
        to {
            transform: translateY(135vh);
        }
    }
}

@media (max-width: 768px) {
    @keyframes fall {
        to {
            transform: translateY(145vh);
        }
    }
}

@media (max-width: 600px) {
    @keyframes fall {
        to {
            transform: translateY(160vh);
        }
    }
}

@media (max-width: 400px) {
    @keyframes fall {
        to {
            transform: translateY(210vh);
        }
    }
}