<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="../js/jquery/ex-34.js" defer></script>
  </head>
  <body>
    <div id="parent" style="border: 1px solid red; background-color: rgb(250, 79, 79);">
      <div style="border: 1px solid blue; background-color: rgb(78, 78, 248);">Child 1</div>
      <div style="border: 1px solid green; background-color: rgb(53, 128, 53);">Child 2</div>
      <div style="border: 1px solid orange; background-color: rgb(247, 194, 96);">Child 3</div>
    </div>
  </body>
</html>
