<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="../js/jquery/ex-8.js" defer></script>
    <script>
      setTimeout(function(){
        let img = document.querySelector('img');
        img.src = '../images/fail.png';
      },3000);
  </script>
  </head>
  <body>
    <img src="" alt="image-js" style="width: 28%;display: block;">
    <span id="result"></span>
  </body>
</html>
